/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* /reset */

/* general */
body{

    font-family: 'Fredoka One', cursive;

}

/* /general */

/* container layout */
main{
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}
header{
    text-align: center;
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 2.5rem 0;
}
.paragraph{
    margin-top: 3rem;
}
/* /container layout */

/* typography */

.bio{
    font-family: 'Open Sans', sans-serif;
}
a{
    color: rgb(100, 188, 255);
}
.title{
    color: rgb(246, 45, 112);
}
/* /colors */


/* float images */
img{
    max-width: 100%;
    margin-right: 10px;

}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
/* /float images */


/* cards layout */



.col {

    height:100px ;
    width: calc(100% / 3 - 40px);
    text-align: left;
    background-color: rgb(15, 15, 52);
    color: white;
    float: left;
    margin: 0 20px;

}

.col2{height:100px ;
    width: calc(100% / 3 - 40px);
    text-align: left;
    background-color: rgb(15, 15, 52);
    color: white;
    float: left;
    margin: 10px 20px;
}

.row img{
    width: 100px;
    float: left;
}







