/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* /reset */

/* general */
body{
    font-family: 'Fredoka One', cursive;
}
/* /general */

/* header layout */
main{
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}
header{
    text-align: center;
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 3rem 3rem;
}
.paragraph{
    margin-top: 3rem;
}
.title{
    color: rgb(246, 45, 112);
}
/* /presentation layout */

img{
    
    float: left;
    width: 100px;
}


.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

/* cards layout */
.row{border: solid rgb(246, 45, 112);

}
.col {
    
    height:100px ;
    width: calc(100% / 3 - 20px);
    text-align: center;
    background-color: rgb(47, 47, 106);
    color: white;
    display: inline-block;
    
}





